doctype html
html(ng-app='lightsApp')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')

    link(href='/vendor/angular-material.min.css', rel='stylesheet', type='text/css')
    link(href='/index.css', rel='stylesheet', type='text/css')
    link(href='/vendor/icomoon.css', rel='stylesheet', type='text/css')

  body(ng-controller='appController' ,  ng-click="tapped($event)", ng-mousemove="mouseMoved($event)", ng-cloak)
    ripples
      .ripple(ng-repeat="r in ripples", ng-style="{ top: r.y + 'px', left: r.x + 'px' }")
    md-content(layout-padding layout="column" layout-align="center center")
      .icon
        div.icon-printer
      md-divider
      div.form-container(layout="column" layout-align="center center")
        md-input-container(class='md-block')
            md-button.md-primary.md-raised(ng-click="printExamples()") Print Examples
        md-input-container(class='md-block')
          label Printer Name
          md-select(ng-model="printerPpd")
            md-option( ng-repeat="printer in ppds track by printer.name" ng-value="printer") {{ printer.name }}
      pre(style="text-align: left") {{ printerPpd | json }}


    script(src="/vendor/lodash.js")
    script(src="/vendor/angular.min.js")
    script(src="/vendor/angular-animate.min.js")
    script(src="/vendor/angular-aria.min.js")
    script(src="/vendor/angular-messages.min.js")
    script(src="/vendor/angular-material.min.js")
    script(src='/index.js')